@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <title>Login Form</title>
</head>

<body>
    <form id="form1" runat="server">
        <div>
            <table>
                <tr>
                    <td> Username: </td>
                    <td>
                        <input id="txtUsername"/>
                    </td>
                </tr>
                <tr>
                    <td> Password: </td>
                    <td>
                        <input id="txtPassword"/>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <asp Button ></asp>
                        <button id="btnLogin" contextmenu="Login" onclick="logIn"/>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>

</html>  